.corner-ribbon {
  pointer-events: none;
  position: fixed;
  overflow: hidden;
}

.corner-ribbon .corner-ribbon-content {
  pointer-events: all;
  width: 141.421356%; /* sqrt(2) */
  box-sizing: border-box;
  position: absolute;
  text-decoration: none;
  text-align: center;
  height: 3em;
  line-height: 1.1;
  padding: 1em 0;
  box-shadow: 0 0 3px rgba(0, 0, 0, .3);
  overflow: hidden;
  border: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0
}

.corner-ribbon a.corner-ribbon-content {
  text-decoration: none;
  border: 0;
  cursor: pointer;
}

.corner-ribbon a.corner-ribbon-content:hover {
  opacity: .8
}

.corner-ribbon.corner-ribbon-font-size-small  { font-size: 0.85em }
.corner-ribbon.corner-ribbon-font-size-normal { font-size: 1.00em }
.corner-ribbon.corner-ribbon-font-size-large  { font-size: 1.25em }
.corner-ribbon.corner-ribbon-font-size-huge   { font-size: 1.50em }

.corner-ribbon.corner-ribbon-position-top-left     { top:    0; left:  0 }
.corner-ribbon.corner-ribbon-position-top-right    { top:    0; right: 0 }
.corner-ribbon.corner-ribbon-position-bottom-left  { bottom: 0; left:  0 }
.corner-ribbon.corner-ribbon-position-bottom-right { bottom: 0; right: 0 }

.corner-ribbon.corner-ribbon-position-top-left .corner-ribbon-content {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 100%;
  left: -2.12132em;
  margin-top: -2.12132em
}

.corner-ribbon.corner-ribbon-position-top-right .corner-ribbon-content {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  left: 2.12132em;
  top: -2.12132em
}

.corner-ribbon.corner-ribbon-position-bottom-left .corner-ribbon-content {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg)
}

.corner-ribbon.corner-ribbon-position-bottom-right .corner-ribbon-content {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 100%
}
